/* || General setup */
:root {
  --primary-color: #efefef;
  --secondary-color: #ff3b3f;
  --tertiary-color: #caebf2;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #efefef;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family:'Courier New', Courier, monospace
  color: #2a2a2a;
}

p, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 20px;
  line-height: 1.7;
}

/* || header layout */

nav, article, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background: color #a9a9a9;
  display: flex;
  margin-bottom: 5px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2vw;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0 ,0);
  transition: border-bottom 300ms;
  color: black;
}

a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

section {
  padding: 80px;
}

.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 15px;
  text-align: left;
  margin: 0 auto 35px auto;
  width: 50%;
}

.intro p {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

.intro img {
  width: 50%;
}

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  margin: 20px;
  flex: 1;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.trainer img {
  width: 100%;
}

.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
}


.flex-row {
  display: flex;
}

.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

footer {
  margin-top: 10px;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}


* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

}
